{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
    </head>
    <body>
        <header>
            <nav class="hover-nav">
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>

                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
                <div>
                    <p class="date">
                        Current Date: <script> document.write(new Date().toLocaleDateString()); </script>
                    </p>
                </div>
            </nav>
        </header>
        <div class="isometric-card">
            <p class="isometric-text">Project Alpha</p>
            <p class ="isometric-img">
                <img src = "https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1397188194/369bd8effaeab9b69e90597ca2bdf403.png">
            </p>
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
