{% extends 'base.html' %} {% block content %}
<main>
  <div class="task-form">
    <h1 class="squiggle">Create a new task</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>
        <span>Create</span>
      </button>
    </form>
  </div>
</main>
{% endblock content %}
