{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a class="squiggle" href="{% url 'create_task' %}">Create a new task</a>
                {% if project.tasks.exists %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date|date:"M d, Y" }}</td>
                                    <td>{{ task.due_date|date:"M d, Y" }}</td>
                                    <td>
                                        {{ task.is_complete|yesno:"yes,no" }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <table>
                            {% else %}
                                <p>This project has no tasks</p>
                            {% endif %}
                        </p>
                    </div>
                </main>
            {% endblock content %}
