{% extends 'base.html' %} {% block content %}
<main>
  <div class="project-list">
    <h1>My Projects</h1>
    <p>
      <a class="squiggle" href="{% url 'create_project' %}"
        >Create a new project</a
      >
    </p>
    {% if projects.exists %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of tasks</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>
            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
          </td>
          <td>{{ project.tasks.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
  </div>
</main>
<div style="text-align: center; padding: 1em 0">
  <h2>
    <a
      style="text-decoration: none"
      href="https://www.zeitverschiebung.net/en/city/5128581"
      ><span style="color: gray">Current local time in</span><br />New York
      City, United States</a
    >
  </h2>
  <iframe
    src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=America%2FNew_York"
    width="100%"
    height="140"
    frameborder="0"
    seamless
  ></iframe>
</div>
{% endblock content %}
